/* Sf Pro Fonts */
@font-face {
  font-family: "SF-Pro-Display-Regular";
  src: url("../fonts/SF-Pro-Display-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display-Bold";
  src: url("../fonts/SF-Pro-Display-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display-Medium";
  src: url("../fonts/SF-Pro-Display-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display-semiBold";
  src: url("../fonts/SF-Pro-Display-Semibold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display-Light";
  src: url("../fonts/SF-Pro-Display-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display-Thin";
  src: url("../fonts/SF-Pro-Display-Thin.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Clash Display fonts */
@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("../fonts/ClashDisplay-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("../fonts/ClashDisplay-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("../fonts/ClashDisplay-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-semiBold";
  src: url("../fonts/ClashDisplay-Semibold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Light";
  src: url("../fonts/ClashDisplay-Light.otf");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.index {
  z-index: 999 !important;
}
